<%= form_for(@consumer) do |f| %>

  <%= render 'partials/model_errors', resource: @consumer %>

  <label>User Name</label><br><input id="user.username" name="user[username]" type="text" />

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
