<h3>Consumer#<%= @user.id %>: <%= @user.email %></h3>

<p><strong>Name: </strong><%= @user.fullname %></p>

<%= link_to 'Edit Consumer Info', edit_consumer_path(@user) %> |
<%= link_to 'Go to Consumers List', consumers_path %>

<%= render 'partials/jobs_month', resource: @user, events: @user.consumer_jobs, view: :consumer %>
<%= render 'partials/jobs_table', resource: @user, events: @user.consumer_jobs, view: :consumer %>
<%= render 'partials/jobs_action', resource: @user, events: @user.consumer_jobs, view: :consumer %>

