<%= form_for(@interpreter) do |f| %>

  <%= render 'partials/model_errors', resource: @interpreter %>
  
  <div class="field">
    <%= f.label :default_payrate %> (cents)<br>
    <%= f.text_field :default_payrate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
