<h1>Interpreters</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Default Rate</th>
      <th>Email</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interpreters.each do |interpreter| %>
      <tr>
        <td><%= interpreter.user.username %></td>
        <td><%= interpreter.default_payrate %></td>
        <td><%= interpreter.user.email %></td>
        <td><%= interpreter.user.roles %></td>
        <td><%= link_to 'Show', interpreter %></td>
        <td><%= link_to 'Edit', edit_interpreter_path(interpreter) %></td>
        <td><%= link_to 'Destroy', interpreter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Interpreter', new_interpreter_path %>
