<h1>New Interpreter</h1>

<%= simple_form_for(@user, :url => { :controller => "interpreters", :action => "create" },) do |f| %>
  <%= render 'partials/model_errors', resource: @user %>
  <%= f.input :username %>
  <%= f.input :email %>  
  <%= f.input :password %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <%= f.input :default_payrate, label: 'Default Payrate (cents)' %>
  <%= f.button :submit, 'Save Interpreter', class: 'button-create' %>
<% end %>

<%= link_to 'Back to List of Interpreters', interpreters_path %>