<h3><%= @interpreter.user.username %> (<%= @interpreter.user.email %>)</h3>
<p><strong>Roles: </strong><%= @interpreter.user.roles %></p>
<p><strong>Default Rate (cents): </strong><%= @interpreter.default_payrate %></p>

<%= render 'partials/jobs_table', resource: @interpreter, view: :interpreter %>

<%= link_to 'Edit', edit_interpreter_path(@interpreter) %> |
<%= link_to 'Back', interpreters_path %>
