<p><strong>Name: </strong><%= @interpreter.user.name %></p>
<p><strong>Skill Level (h/m/l): </strong><%= @interpreter.skill_level %></p>
<p><strong>Hourly Rate (cents): </strong><%= @interpreter.skill_level %></p>
<p><strong>Email: </strong><%= @interpreter.user.email %></p>
<p><strong>Roles: </strong><%= @interpreter.user.roles %></p>

<%= link_to 'Edit', edit_interpreter_path(@interpreter) %> |
<%= link_to 'Back', interpreters_path %>
