<p><strong>Name: </strong><%= @interpreter.user.username %></p>
<p><strong>Default Rate (cents): </strong><%= @interpreter.default_payrate %></p>
<p><strong>Email: </strong><%= @interpreter.user.email %></p>
<p><strong>Roles: </strong><%= @interpreter.user.roles %></p>

<%= link_to 'Edit', edit_interpreter_path(@interpreter) %> |
<%= link_to 'Back', interpreters_path %>
