<div>controller:<%= controller_path.gsub('/','-') %> action:<%= action_name %> 
    user: <b><%= current_user.try(:username) %></b> 
    roles: <%= current_user.try(:roles) %>
	agency: <b><%= current_agency.try(:agency_name) %></b>
</div>
