<h3>Jobs</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Job#</th>
	  <% if view != :interpreter %>
	  	<th>Interpreter</th>
	  <% end %>
	  <% if view != :consumer %>
	  	<th>Consumer</th>
	  <% end %>
      <th>When</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% resource.jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
		<% if view != :interpreter %>
			  <td><%= job.interpreter.try(:email) %></td>
		<% end %>
		<% if view != :consumer %>
			  <td><%= job.consumer.try(:email) %></td>
		<% end %>
        <td><%= job.when %></td>
        <td><%= job.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
