<%= form_for(@customer) do |f| %>

  <%= render 'partials/model_errors', resource: @customer %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :requester_name %><br>
    <%= f.text_field :requester_name %>
  </div>
  <div class="field">
    <%= f.label :requester_email %><br>
    <%= f.text_field :requester_email %>
  </div>
  <div class="field">
    <%= f.label :billing_email %><br>
    <%= f.text_field :billing_email %>
  </div>
  <div class="field">
    <%= f.label :billing_rate %><br>
    <%= f.text_field :billing_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
