<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @company.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @company.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @company.contact_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @company.string %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @company.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @company.contact_email %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
